<div class="">
    <footer class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="https://github.com/lipollis/SENAI_UC12-AppRH"
                class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="../../assets/img/Footer/sun.jpg" class="img-fluid rounded-start assinatura" alt="Assinatura">
            </a>
            <span class="text-muted">© 2021 Company, Inc</span>
        </div>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="../../assets/img/Config/recruitment.svg" class="img-fluid rounded-start recruitment"
                alt="recruitment">
        </a>

        <div class="nav col-md-4 container-social">

            <div class="grid-icon-social ">
                <div class="icon-social ">
                    <a class="text-muted" href="https://www.instagram.com/alinepollis/">
                        <img src="../../assets/img/Footer/socialInstagram.svg" class="img-fluid rounded-start"
                            alt="Instagram">
                    </a>
                </div>

                <div class="icon-social ">
                    <a class="text-muted" href="https://github.com/lipollis">
                        <img src="../../assets/img/Footer/socialGithub.svg" class="img-fluid rounded-start"
                            alt="Github">
                    </a>
                </div>

                <div class="icon-social ">
                    <a class="text-muted" href="https://www.facebook.com/aline.pollis/">
                        <img src="../../assets/img/Footer/socialFacebook.svg" class="img-fluid rounded-start"
                            alt="Facebook">
                    </a>
                </div>

                <div class="icon-social ">
                    <a class="text-muted" href="https://www.linkedin.com/in/alinepollisbeck/">
                        <img src="../../assets/img/Footer/socialLinkedin.svg" class="img-fluid rounded-start"
                            alt="LinkedIn">
                    </a>
                </div>
            </div>


            <div class="grid-icon-social ">
                <div class="icon-social ">
                    <a class="text-muted" href="">
                        <img src="../../assets/img/Footer/socialWhatsapp.svg" class="img-fluid rounded-start"
                            alt="WhatsApp">
                    </a>
                </div>

                <div class="icon-social ">
                    <a class="text-muted" href="https://t.me/AlinePollis">
                        <img src="../../assets/img/Footer/socialTelegram.svg" class="img-fluid rounded-start"
                            alt="Telegram">
                    </a>
                </div>

                <div class="icon-social ">
                    <a class="text-muted" href="">
                        <img src="../../assets/img/Footer/socialDiscord.svg" class="img-fluid rounded-start"
                            alt="Discord">
                    </a>
                </div>

                <div class="icon-social ">
                    <a class="text-muted" href="mailto:aline.pollis@hotmail.com">
                        <img src="../../assets/img/Footer/socialMail.svg" class="img-fluid rounded-start" alt="E-mail">
                    </a>
                </div>
            </div>



        </div>

    </footer>
</div>