*{
    font-size:10px;
    box-sizing: border-box;
    margin: 0 auto;
    padding:0.5rem;
}

.container-fluid{
    background-color: black;
    margin: 0 auto;
    margin-top:auto;
    font-size:10px;
    padding: 3rem;;
    bottom: 0rem;
    position: sticky;
    width: 100%;    
}

.assinatura{
    width:6rem;
}

.recruitment{
    width: 5rem;
}

.icon-social{
    width: 4rem;

}

.icon-social:hover{
    transform: scale(1.2);
    opacity: 1;
}

.container-social{
    display: inline;
    grid-gap: 0.2rem;
    
}
.grid-icon-social{
    float:rigth;
    display: grid; 
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.2rem;
    width: 33vw;

}

.grid-icon-social > div{
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1rem;
}
span{
    font-size: 1.5rem;
}