
.container-fluid{
    background-color: black;
    margin: 0 auto;
    font-size:10px;
    padding: 7rem;;
    
}

.assinatura{
    width:7rem;
}

.recruitment{
    width: 7rem;
}

.icon-social{
    width: 3rem;
    margin: 0.3rem;

}

.icon-social:hover{
    transform: scale(1.2);
    opacity: 1;
}

.grid-icon-social{
    width:30%;
    float:rigth;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}