/* #######   CONFIGURAÇÃO DO COMPONENTE   #######*/
:root{
  --cor-destaque: #FFFF;
  --cor-vermelha: #FF4A3B;
  --cor-amarela: #DABA36;
  --fundo-escuro:#19395B;
  --cor-laranja: #E48877;
  --cor-preta:rgb(255,255,255,0);
  --cor-cinza:#9B94B5;
}

body{
  font-size: 20px;
  font-family:'Roboto', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}


footer{
    z-index: 4;
    position: sticky;
  }
  
  #footer >h3 {
      font-size: 1.5rem;
      text-align: center;
      align-items: center;
      margin: 2rem;
  }
    #footer >h3::first-letter {
        color: var(--cor-vermelha);
      }
    
      .col-nav-footer{
        margin: 3rem;
        text-align: center;
        align-items: center;
      }
  
  p{
    padding: 0.25rem;
    text-align: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .assinatura,
  .recruitment{
    width: 70px;
    text-align: center;
  }
  
  .footer {
    background: black;
    color: darkgray;
    padding: 3rem;
  }
  
  .footer a {
    text-decoration: none;
    color: darkgrey;
  }
  
  .footer a:hover {
    text-decoration: none;
    color: var(--cor-laranja);
    cursor: pointer;
  }
  
  h5{
      text-align: center;
  }
  .footer p {
    margin-bottom: 0;
  }
  
  
  .redeSocial{
    width: 40px;
    margin: 0.5rem;
  }
  .redeSocial:hover{
      transform: scale(1.2);
    }
  
  
/* =======================================================
            #######   RESPONSIVIDADE   #######
======================================================= */

@media (max-width: 600px) {
  .recruitment{
    width: 40px;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .recruitment{
    width: 40px;
  }

  
}

@media (min-aspect-ratio: 1025px) {


}