<section class="cards">

  <div *ngFor="let vaga of vagas" class="">

  <div class="">

    <div class="card border-warning mb-3" >
      <img class="card-img-top" src="../../assets/img/Vagas/{{vaga.foto}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">ID: {{vaga.id}} - {{vaga.descricao}}</h5>
        <p class="card-text">Remuneração: {{vaga.remuneracao}}</p>
        <p class="card-text">Local de Trabalho: {{vaga.local_trabalho}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
          + Info!
        </button>
      </div>
    </div>
  </div>

</div>


</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  name="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ID vaga: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="list-descricao">
          <ul>
            <li>Descrição: </li>
            <li>Requisitos obrigatórios: </li>
            <li>Requisitos desejáveis: </li>
            <li>Remuneração: </li>
            <li>Vaga está aberta? 1-Sim 0-Não:</li>
            <li>Benefícios: </li>
            <li>Local de trabalho: </li>
          </ul>
        </div>
      </div>


      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>

      </div>
    </div>
  </div>
</div>