

<section>


    <div *ngFor="let vaga of vagas">
        <div class="card mb-3 text-white bg-secondary " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/img/Vagas/{{vaga.foto}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-header">{{vaga.descricao}}</div>
                        
                        <div class="card-body">
                            <h5 class="card-title">Remuneração: {{vaga.remuneracao}}</h5>
                            <p class="card-text">Local de Trabalho: {{vaga.local_trabalho}}</p>
                            <button type="button" class="btn btn-warning">+ Info</button>
                          </div>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</section>