<div class="navbar-container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">APP RH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/painel" routerLinkActive="selected">Painel de
          Vagas </a>
        <a class="nav-item nav-link" routerLink="/create" routerLinkActive="selected">Criar vaga</a>
        <a class="nav-item nav-link" routerLink="/update" routerLinkActive="selected">Atualizar vaga</a>
        <a class="nav-item nav-link" routerLink="/delete" routerLinkActive="selected">Excluir vaga</a>
        <a class="nav-item nav-link disabled" routerLink="/sobre" routerLinkActive="selected">Sobre nós</a>
      </div>
    </div>

    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../assets/img/Config/recruitment.svg" alt="" width="50" height="50"
          class="d-inline-block align-text-top navbar-brand">
        
      </a>
    </div>
  </nav>


</div>
