*{
    font-size:15px;
    box-sizing: border-box;
    margin: 0 auto;
    padding:0.5rem;
}

.form-container{

    margin: 0 auto;
    padding: 2rem;
    flex-direction: column;
}

.form-floating{
    width:15rem;
}
.row.grow{
    flex-grow:1;
}

h2{
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
}

label{
    font-size: 1rem;
}

.button{
    margin: 0 auto;
}